a-scene .a-enter-vr-button {display: none!important}
@keyframes rotation{0%{transform:rotate(0deg)}to{transform:rotate(360deg)}}
@keyframes fadeout-cursor{to{border-right-color:transparent}}
@keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}to{box-shadow:0 0 10px 0#36427a;}}
.loader,.loader::after{box-sizing:border-box;width:48px;height:48px;border-radius:50%}
.loader{display:inline-block;border-top:4px solid #d1cfc7;border-right:4px solid transparent;animation:rotation 1s linear infinite}
.loader::after{content:"";position:absolute;left:0;top:0;border-bottom:solid #3185ac;border-left:4px solid transparent}
.loader-container {position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 10012;}
.fade-out-loader{opacity:0;transition:opacity .3s ease-in-out}
#img-fondo {
border: none;
height: 100%;
position: fixed;
top: 0;
visibility: visible;
width: 100%;
background-size: cover;
background-position: center;
background-image: url('assets/rosario2.jpg');
transition: opacity 0.7s ease;
}
#img-fondo.fade-out {
opacity: 0;
transition: opacity 0.7s ease;
}
#pantalla-carga {
top: 0;
left: 0;
width: 100vw;
height: 100%;
color: #d1cfc7;
display: flex;
position: fixed;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
opacity: 1;
transition: opacity 0.7s ease;
z-index: 10010;
background: rgba(0, 0, 0, 0.5);
box-sizing: border-box;
}   
#titulo-principal {
left: 50%;
font-size: clamp(1.2rem, 4vw, 2.5rem);
font-weight: 700;
color: rgb(0, 0, 0);
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.445);
line-height: 1.1;
white-space: nowrap;
margin: 0;
}
#subtitulo {
left: 50%;
font-size: clamp(1.2rem, 4vw, 2.5rem);
font-weight: 700;
color: rgb(0, 0, 0);
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.445);
line-height: 1.1;
white-space: nowrap;
width: max-content;
margin: 0;
}
#boton-comenzar {
padding: 0.7em 1.5em;
font-size: 1.2em;
background-color: #d1cfc7;
color: #1a1a1a;
border: 0;
border-radius: .2em;
cursor: pointer;
user-select: none;
font-weight: 500;
position: relative;
z-index: 10011
}
#boton-comenzar:hover{background-color:#36427a;color:#d1cfc7;animation:shadow-drop-center .1s linear both}
.button-toggle {
user-select: none;
-webkit-tap-highlight-color: transparent; 
}
.button-toggle .bar {transform-origin: center;}
#toggle{display:none}
#toggle:checked~.toggle-container .button-toggle{background-color:#1a1f3c;}
#toggle:checked~.toggle-container .button-toggle .bar:nth-child(1){transform: rotate(45deg); position: absolute;}
#toggle:checked~.toggle-container .button-toggle .bar:nth-child(2){opacity:0}
#toggle:checked~.toggle-container .button-toggle .bar:nth-child(3){transform: rotate(-45deg); position: absolute;}
.toggle-container{position:relative}.button-toggle,.nav{display:flex;flex-direction:column}
.button-toggle {
text-align: center;
position: fixed;
top: 1.2rem;
left: 1.25rem;
width: 30px;
height: 30px;
background: #1a1f3c44;
background-color: #1a1f3c;
border: 0;
cursor: pointer;
border-radius: 50%;
transition: background-color .3s ease;
z-index: 10020;
justify-content: center;
align-items: center
}
.button-toggle .bar {
width: 18px;
height: 3px;
background-color: #fff;
border-radius: .2em;
margin: 2px 0;
transition: transform .3s ease,opacity .3s ease
}
.container-menu {
transition: width ease .3s, height ease .3s;
background: rgba(255, 255, 255, 0.274);
top: 0.625rem;
left: 0.625rem;
width: 18.75rem;
height: 32.125rem;
padding: 1.875rem;
border-radius: .2em;
position: fixed;
z-index: 10020;
overflow: hidden;
overflow-y:auto;
display: flex;
flex-direction: column;
align-items: center;
}
.container-menu::-webkit-scrollbar {
display: none;
}
.menu-abierto {
display: block;
width: 18.75rem;
height: 32.125rem;
padding: 1.875rem;
}
.menu-cerrado {
width: 2.5rem;
height: 2.5rem;
padding: 0.3rem;
}
.nav {gap: 8px;margin: 15px}
.nav-abierto {
opacity: 1;
transform: translateY(0);
pointer-events: auto;
visibility: visible;
}
.nav-item {
display: block;
line-height: 32px;
text-align: center;
border-radius: .2em;
justify-content: center;
align-items: center;
height: 32px;
padding: 4px;
width: 100%;
color: #fff;
font-size: 14px;
cursor: pointer;
background: linear-gradient(to bottom, #1c2e4a, #1e324f);
}
.nav-item:hover {background: #1a1f3c}
.nav-item.cliqueado {
background: #1a1f3c;
}
.nombre { 
margin: 0 auto;
white-space: nowrap;
line-height: 32px;
text-align: center;
border-radius: .2em;
padding: 4px;
width: 85%;
color: #fff;
font-size: 14px;
background: linear-gradient(to bottom, #1c2e4a, #1e324f);
}
.nombre-cerrado{
  visibility: hidden;
}
.dummy-content {
white-space: normal;
word-wrap: break-word; 
overflow-wrap: break-word;
max-width: 100%;
max-height: 100vh;
box-sizing: border-box;
padding: 0.3em .3em;
font-size: .9em;
left: 2px;
background: linear-gradient(to bottom, #1c2e4a, #1e324f);
color: #ffffff;
border: 0;
border-radius: .2em;
cursor:auto;
font-weight: 500;
text-align: center;
transition: background-color .3s ease;
position: relative;
}
#contador-marcadores {
position: fixed;
top: 0.625rem;
left: 5.675rem;
width: 16.25rem;
z-index: 10050;
background: #1a1f3c;
color: white;
padding: 0.4em 0.6em;
border-radius: .2em;
font-family: "Saira";
font-size: 1em;
display: none;
}
#mensaje-final {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0.938);
color: #4fc3f7;
padding: 2em;
font-size: 1.4em;
border-radius: 1em;
text-align: center;
z-index: 10050;
font-family: "Saira", sans-serif;
max-width: 80vw;
display: none;
}
#pantalla-carga.fade-out{opacity:0}
#img-fondo.fade-out{opacity:0}
#boton-comenzar, #pantalla-carga, #subtitulo,
#titulo-principal{font-family:"Saira", monospace; user-select: none}
.container-menu, .nombre{font-family: "Saira";}

#fullscreen-button {
    position: absolute;
    top:  15px;
    right:  15px;
    background: rgba(0,0,0,0.05);
    border:  0;
    width:  40px;
    height:  40px;
    border-radius: 50%;
    box-sizing: border-box;
    transition:  transform .3s;
    cursor:  pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10060;
}
#fullscreen-button:hover {
    transform: scale(1.125);
}
#fullscreen-button svg:nth-child(2) { 
    display: none;
}
[fullscreen] #fullscreen-button svg:nth-child(1) {
    display: none;
}
[fullscreen] #fullscreen-button svg:nth-child(2) {
    display: inline-block;
}